

.loopslider
  %ul
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"
    %li= image_tag "image0 (1).jpg", size: "100x100", alt: "顔写真"

   