.index
  .index__box
    .index__box__slider
      %ul.index__box__slider__box
        %li= image_tag "image10.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image1.jpg", size: "200x200", alt: "顔写真"
        %li= image_tag "image2.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image3.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image4.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image5.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image6.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image7.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image11.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image9.jpeg", size: "200x200", alt: "顔写真"
    .index__box__center
      %h1 2020 2/10
      %h2 happy birthday 松浦果南 
      = link_to "posts/top", class: "" do
        お祝いしに行こう

    .index__box__slider
      %ul.index__box__slider__box
        %li= image_tag "image10.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image1.jpg", size: "200x200", alt: "顔写真"
        %li= image_tag "image2.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image3.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image4.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image5.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image6.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image7.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image11.jpeg", size: "200x200", alt: "顔写真"
        %li= image_tag "image9.jpeg", size: "200x200", alt: "顔写真"
    

    
    

     
  
